#PageGuide{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#Home .p, .h3{
  font-family: Comic sans-serif monospace;
  font-size: 20px;
}
#Salvete{
  font-family: Comic sans-serif monospace;
  font-size: 36px;
}

/* BEGIN DROPDOWN STYLING */

/* Style dropdown button */
.dropbtn{
  cursor:pointer;
}
/* Positions dropdown content */
.dropdown{
  position: relative;
  display: inline-block;
}
 /* Hides content box by default; styles box */
.dropdown-content{
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Styles content links */
.dropdown-content a{
  display: block;
}
/* Shows dropdown content on hover */
.dropdown:hover .dropdown-content{
  display:block;
}
