#PageGuide{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#Home .p, .h3{
  font-family: Comic sans-serif monospace;
  font-size: 20px;
}
#Salvete{
  font-family: Comic sans-serif monospace;
  font-size: 36px;
}

/* BEGIN NAVIGATION BAR STYLING */

/* Styles navigation bar */
.navbar{
  overflow: hidden;
  background-color: #0097fc;
  font-family: Helvetica;
}
/* Styles links in navbar */
.navbar a{
  float: left;
  font-size: 16px;
  color:black;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
}

/* Dropdown box */
.dropdown{
  float: left;
  overflow: hidden;
}

/* Stles dropdown buttons */
.dropdown .dropbtn{
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: #0097fc;
  font-family: Helvetica;
  margin: 0;
}

/*Changes color of Navbar Links when hovered on */
.navbar a:hover, .dropdown:hover .dropbtn{
  background-color: #0065fc
}

/* Styles dropdown content */
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #0097fc;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px(0,0,0,0.2);
  z-index: 1;
}

/* Links in dropdown box */
.dropdown-content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display:block;
  text-align: left;
}

/* Makes dropdown links change color on hover */
.dropdown-content a:hover{
  background-color: #0065fc
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
