#PageGuide{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}


/* BEGIN DROPDOWN STYLING */

/* Positions dropdown content */
.dropdown{
  position: relative;
  display: inline-block;
}
 /* Hides content by default, later will define min. width and style */
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
/* Shows dropdown content on hover */
.dropdown:hover .dropbtn{
  display:block;
}
